#home {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  background-image: url("../../assets/bgHeader.png");
  background-size: cover;
  background-position: center bottom;

  .app__wrapper {
    padding: 0;

    .copyright {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    // height: 90vh;
  }
}
.app__header {
  width: 100%;
  height: 100%;

  // position: relative;
  // z-index: 1;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.app__header-heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding-top: 100px;

  h1 {
    font-family: var(--font-header);
    font-size: clamp(6rem, 9vw, 7.5rem);
    font-weight: 600;
    color: var(--black-title);
    letter-spacing: 0.3rem;
    line-height: 0.95;

    padding: 10px 15px;

    span {
      color: var(--kurenai-accent);
    }
  }

  .app__header-btn {
    font-family: var(--font-main);
    font-size: 2rem;
    padding: 0.5rem 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1rem;
    border: 0;
    border-radius: var(--border-radius-round);

    cursor: pointer;

    background-image: linear-gradient(
      45deg,
      rgb(255, 188, 116) 0.002%,
      var(--kurenai-accent),
      rgb(154, 64, 150) 21%,
      rgb(107, 65, 121) 40%,
      rgb(30, 30, 52) 50%,
      rgb(0, 0, 0) 80%
    );
    background-size: 800%;
    background-position: right;

    transition: background-position 0.3s ease;

    &:hover,
    &:focus {
      background-position: left;
    }

    &:active {
      opacity: 0.96;
      transform: scale(0.98);
    }

    a {
      color: var(--white);
      text-decoration: none;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
      font-size: 1.8rem;
      margin: 0;
    }
  }

  //////////////////////////////////////////////////////////////
  /*Below is for the tablet screen size of ".app__header-heading"*/
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    padding: 0;
    transform: translateY(9.5rem);

    h1 {
      color: var(--kurenai-accent);
      background-image: radial-gradient(
        circle,
        rgb(171, 0, 0) 62%,
        rgb(255, 114, 114)
      );
      background-size: 300%;
      background-position: top right;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
      line-height: 0.95;

      padding: 15px 0;
    }

    .app__header-btn {
      background-position: left;
    }
  }

  @media screen and (min-width: 390px) and (max-width: 767px) {
    h1 {
      font-size: 15vw;
      padding-bottom: 0.3rem;
      margin-top: 3.55rem;
      span {
        display: inline-block;
        transform: translateY(-0.2rem);
        font-size: 3.42rem;
      }
    }

    .app__header-btn {
      background-position: left;
      font-size: 1.5rem;
      padding: 0.3rem 2rem;
      margin: 0.3rem 0.9rem;
    }
  }

  @media screen and (max-width: 389px) {
    h1 {
      font-size: 3rem;
      padding-bottom: 0.3rem;
      margin-top: 0.7rem;
    }

    .app__header-btn {
      background-position: left;
      font-size: 1.35rem;
      padding: 0.3rem 2rem;
      margin: 0.2rem 0.9rem;
    }
  }
}

.app__header-img-sun-ocean {
  position: absolute;
  z-index: -1;
  opacity: 0.6;
  max-width: 480px;
  top: 67vh;
  left: 0;
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 330px;
  }
  @media screen and (max-width: 767px) {
    width: 200px;
    top: 71vh;
  }
}

.app__header-img-samurai {
  position: absolute;
  z-index: -1;
  opacity: 0.8;

  height: 100%;
  right: 0;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    transform: translateX(6.5%);
    opacity: 0.7;
  }
  @media screen and (max-width: 767px) {
    height: 61vh;
    bottom: 0;
    transform: translateX(9%);
    opacity: 0.7;
  }
}
